Package: com.test.blockpopup
Name: BlockPopup
Version: 0.0.1
Architecture: iphoneos-arm
Description: Block third-party wechat plugin popups
Depends: mobilesubstrate
Maintainer: Test
Author: Test
Section: Tweaks
