Package: com.vone.crack
Name: VOne Crack
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Cracked version of w26527 by vone.
Maintainer: vone
Author: vone
Section: Tweaks
